body{background-image: url('https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg');background-repeat: no-repeat;background-size: cover;}
.App{display: flex;align-items: center;flex-wrap: wrap;flex-direction: column;height: 100vh;justify-content: center;}
.buttonList{display: flex;align-items: center;text-align: center;list-style-type: none;justify-content: center;gap: 10px;}
.buttonList--item{font-size: 14px;list-style: none;background-color: coral;border-radius: 7px;font-style: normal;border: 1px solid coral;}
.buttonList--item a{font-style: normal;color: #fff;text-decoration: none;display: block;padding: 8px 14px;}
.buttonList--item:hover{border: 1px solid coral;background-color: #fff;}
.buttonList--item:hover a{color: coral;}

.weatherBox{background-color: #fff;width: 100%;max-width: 450px;margin: 40px auto 20px;padding: 15px 30px;border-radius: 20px;}